server1/.vs/
server1/bin/
server1/obj/
server2_client/.vs/server2_client/CopilotIndices/17.14.794.21998/CodeChunks.db
server2_client/.vs/
server2_client/bin/
server2_client/obj/project.assets.json
server2_client/obj/
